@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 300ms all;
  user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 100vmax;
}

::-webkit-scrollbar-track {
  background: #868686;
}

::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
  border-radius: 100vmax;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(62, 62, 62);
}
